
#nav-tabContent{
	width:80%;
	margin-left: 20%;
	margin-top:0%;
}

.card-header{
	padding-top: 1%;
	padding-bottom: 1%;
}

.row {
	margin-left: 2%;
	margin-right: 2%;
}


#dishesList {
	background-color:#ffffff00;
}

#Jumbotron {

	background-color: #ffffffe3;
	margin-left:5%;
	margin-right:5%;
	margin-top:3%;
	padding-top:3%;
}


.card-header, .btn-info, .list-group-item.active {

	background-color: #6576a5;
	border-color: #6576a5;

}