body{

    background-repeat: no-repeat;
    background-size:cover;

}

#mainJumbotronRecap{
    background-color: #ffffffc2;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    padding-bottom: 2%;
    padding-top: 3%;

}

#menuJumbotronRecap{
    background-color: #ffffffe3;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3%;
    padding-top: 3%;

}

#totalCost{
    background-color: #6576a5;
    color: white;
}

#totalPerson{
    background-color: #6576a5;
    color: white;
}

#btnBack{
    color: white;
    background-color: #d60000;
}


.list-group{
    margin-right: 5%;
    padding-right: 7%;
}

.list-group-item.active{
    background-color:#6576a5;
    border-color: #6576a5;
}

.card-header{
    background-color: #6576a5;
}

