body {

    background-size:cover;
    background-repeat:no-repeat;
    font-size:21px;

}

.navbar {

    border-radius: 0;
    font-size:0.9em;
}

.jumbotron {

    background-color: #ffffffe3;
    margin:5%;

}

.card-header, .btn-info, .list-group-item.active, #emailLabel {

    background-color: #6576a5;
    color:#ffffff;
    border-color: #6576a5;
}

input[value="Delete"] , .btn-dark , .btn-info{

    margin:1%;
    font-size:1em;


}

.input-group-text, .form-control {

    font-size:1em;

}

