#r1{
    background-color: #f1f1f1d1;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.btt{
    background-color: transparent;
    border-color: transparent;
    color:white;

}

.card-header{
    background-color: #6576a5;
}

#confirm {
    margin-left: 10%;
    border-color: transparent;
}

#container{
    width: 95%;
}


.btt_d{
    width: 60%;
    margin-left: 76%;
    margin-bottom: 2%;
    border-color: transparent;
}