
body {

    background-size:cover;
    background-repeat: no-repeat;

}


.row, #welcome{

	background-color: rgba(255, 255, 255, 0.61);
	margin:2%;
	text-align:center;
	
	
}

.jumbotron  {

    background-color:#ffffff00;
    margin:2%;
}



#description {
	

	text-align:justify;
	font-size:1.875em;

	
}

.col{
	
	margin:1.875em;
	text-align:center;
	
}



.display-3, .display-4, .display-5{
	
	
	margin-top:0;
	font-weight:bold;
	text-align : center;
}

.display-5{
	
	margin:2%;
	margin-bottom:3.125em;
}

#inputGroup-names, #inputGroup-mail, #inputGroup-date, input[type="submit"]{
	
	font-size:1.438em;
	text-align:justify;
    background-color:#6576a5;
    color:#ffffff;
	
}

p {
	
	font-size:1.438em;
	text-align:justify;
	
}


.btn, btn-info, .navbar{

    font-size:1em;
	background-color: #6576a5;
	border:#6576a5;

}



