
body {

    background-size:cover;
    background-repeat: no-repeat;
	font-size:1.3em;
}


.navbar {

	border-radius: 0;
	font-size:0.9em;

}


.row{

	background-color: #ffffff00;
	text-align:center;
    border-radius:0.5em;
	padding-top:2%;
	padding-bottom:2%;

}



.jumbotron  {

    background-color:rgba(255, 255, 255, 0.61);
    margin:2%;
    padding:0;
}



#description {
	
	text-align:justify;

	
}

.col{

	text-align:center;
	
}



.display-3, .display-4, .display-5{
	margin-top:0;
	text-align : center;
	font-size:2em;
}


#inputGroup-names, #inputGroup-mail, #inputGroup-date{
	
	font-size:0.9em;
	text-align:justify;
    background-color:#6576a5;
    color:#ffffff;
    border-radius: 0.1em;
	
}

p {
	
	text-align:justify;
	
}


.btn, btn-info, input[type="button"]{

	font-size:1em;
	background-color: #6576a5;
	border:#6576a5;
    border-radius:0.3em;
	margin-bottom:0.1em;

}

