
body {

    background-size:cover;
    background-repeat: no-repeat;
	font-size:19px;
}


.navbar {

	border-radius: 0;
	font-size:0.9em;

}


.row{

	background-color: #ffffff00;
	text-align:center;
    border-radius:0.5em;
	padding-top:2%;
	padding-bottom:2%;

}



.jumbotron  {

    background-color:#ffffffd4;
    margin-top:3%;
	margin-bottom:2%;
	margin-left:10%;
	margin-right:10%;
    padding:0;
}



#description {
	
	text-align:justify;

	
}

.col{

	text-align:center;
	
}



.display-3, .display-4, .display-5{
	margin-top:0;
	text-align : center;
	font-size:2em;
}


#inputGroup-names, #inputGroup-mail, #inputGroup-date, #inputGroup-guest{
	
	font-size:0.9em;
	text-align:justify;
    background-color:#6576a5;
    color:#ffffff;
    border-radius: 0.1em;
	
}

p {
	
	text-align:justify;
	
}

#descReservation, #descCatalogue {

	margin-top:12.5%;
	margin-bottom:	12.5%;
}


.btn, .btn-info{

	font-size:1em;
    border-radius:0.3em;
	margin-top:1%;

}

#ReservationsBtn, #CatalogueBtn {

	margin-top:25%;


}